build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
# gradle
classes/

# eclipse

*.launch

# idea

.idea/

# vscode

.settings/
.vscode/
.classpath
.project

# macos

*.DS_Store

# fabric



.metadata
.vscode
.settings
Merged/
